/P2PNetwork/Temp/UnityLockfile
/P2PNetwork/Temp/UnityTempFile-6858eabc7f1f25a4585a8df44617e299
/P2PNetwork/Temp/UnityTempFile-a8321c0a597e80b4b86d29b0421c9736
/P2PNetwork/Temp/UnityTempFile-b5cbe079f5853884bb43a4321a59b123
/P2PNetwork/Temp/UnityTempFile-fc2f823ff205bf24a99cee5e60d9f62d
/P2PNetwork/Temp/__BuildPlayer Backupscene
/P2PNetwork/Temp/tempFile.res
/P2PNetwork/Temp/tempFile.resG
/P2PNetwork/Temp/tempFile.resS
/P2PNetwork/Library/ScriptAssemblies/CompilationCompleted.txt
Temp
/Slides/~$apresentação.pptx
Shuttles
